
<div class="row">
    <br />
    @{
        ViewBag.Title = "Hämta information från Adlibris";
    }
    <h2>Hämta information från Adlibris</h2>

    <br />
    @using (Html.BeginForm("GetInfoFromAdlibris", "Admin"))
    {
        @Html.TextBox("isbn", null, new { @placeholder = "Ange ISBN*" })
        <input type="submit" class="small button" value="Hämta information" />
    }
</div>