

@{
    ViewBag.Title = "Info från Adlibris";
}

<h2>Info från Adlibris</h2>
@using (Html.BeginForm("GetInfoFromAdlibris", "Admin"))
{
    @Html.TextBox("isbn")
    <input type="submit" value="isbn" />
}

