body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#alert {
    color:red;
}

button.cart{
    padding:0.6rem;
     background-color:#ccb400; 
}

button.price{
    padding: 0.5rem 0.5rem 0.5rem 1.6rem;
    display: block;
  float: left;
}

h3.title{
      overflow: hidden;
  line-height: 1.26;
  font-size: .82714rem;
    max-height: 2.4em;
  text-overflow: ellipsis;
  margin: 5px 0px 5px 0px;
  height:30px;
}
h3.title-top5{
    width:70px;
      overflow: hidden;
  line-height: 1.26;
  font-size: .72714rem;
    max-height: 2.4em;
  text-overflow: ellipsis;
  margin: 5px 5px 5px 0px;
  height:30px;
}
h3.title-top5-number{
    width:70px;
      overflow: hidden;
  line-height: 1.26;
  font-size: 1.72714rem;
    max-height: 2.4em;
 color:darkred;
}
h5.title {
    margin:10px;
     font-weight:600;
}
ul.small-block-grid-1 {
   max-width:171px;
   
}
.top-bar-section ul li {
  background: #333333;


}

a {
  color: #0A5A7A;
  line-height: inherit;
  text-decoration: none;
  font-weight:600;
}
h3.name{
     line-height: 1.26;
  font-size: .82714rem;
   margin: 5px 0px 5px 0px;
}
p.description{
     line-height: 1.26;
  font-size: .82714rem;
   margin: 5px 0px 5px 0px;
}
button.delete{
    padding:5px;
    font-size:0.875rem;
    text-decoration-line:underline;
    background-color: transparent;
   color:black;
   
    
}
h3.price-detail-look{
    color:red;
    
}

h3.kontakt{
    color:#FFE100;
    font-size:large;
    background-color:#919191;
    font-weight:800;
    padding-left:380px;
}

p.pn{
    font-style:italic; 
    font-size:small;
     margin-bottom:0px;
}
div.form-group{
    margin:45px 0px 45px 0px;
}
div.fname{
    float:left;
    width:280px;
    margin-right:10px;
}
div.lname{
    
    width:280px;
   
}
div.email{
  width:600px;
    max-width:600px;
    
}
input, select, textarea .email {
  max-width: 620px !important;
}
ul.dropdown-custom{
    height:10px;
    line-height:1px;
}
div.container{
    width:100%;
    position:relative;
    padding:3px 0px 5px 0px;
    float:left
}

.f-dropdown.content ul li{
    float:none;
  }
  .f-dropdown:after{
    border-style: none !important;
  }
img.cover-height{
    vertical-align:bottom;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#loadingDiv {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1100;
   background-color: white;
   opacity: .6;
}

.ajax-loader {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -32px; /* -1 * image width / 2 */
   margin-top: -32px; /* -1 * image height / 2 */
   display: block;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
   background-color:transparent; 
}

table.info{
    width:840px;
   
    border:none
}
table tr th, table tr td {
  color:#0A5A7A;
  font-size: 0.875rem;
  padding: 0.5625rem 0.625rem;
  text-align: left;
}
textarea {
   resize: none;
}

div.logo{
    margin-top:-50px;
}

nav.custom{
    margin-top:5px;
}

div.slider-background {
    background-color:#FFE100; 
  

max-height:250px;
}
.small-block-grid-1 > li{
 width:inherit;
 background-color:#C9C5C5;
 margin-right:10px;
}
p.footer{
    color:#C9C5C5;
    font-size:small;
}

hr {
  
  margin: 15px 0px 0px 0px;
}

  .long {
    min-width:900px;
  }

  .f-dropdown.content ul li{
    float:none;
    margin-left:-38px;
    
  }
  .f-dropdown:after{
    border-style: none !important;
  }
  .f-dropdown.content
  {
         /*background-color:#333333;*/
         border:none;
  
  }
   .f-dropdown.content > *:nth-child(1) {
     margin-top:-20px;    
 
}
  .f-dropdown.content > *:nth-child(2) {
     margin-top:-20px;    
  margin-right: -25px;
}
  .f-dropdown.content > *:nth-child(3) {
     margin-top:-20px;    
 
}
  .top-bar form, .top-bar input, .top-bar select {
  margin-bottom: 0;
 
}
  .search-field{
      float:left;
  }
  .top-bar form, .top-bar input, .top-bar select {
  margin-bottom: 0;
   
}

  .f-dropdown.content ul li input{
  float: none;
  margin-left: 5px;
  background-color:transparent;
  color:white;
  border-color:transparent;
}

  .f-dropdown.content ul li label{
  padding-top:10px;
      float: none;
  margin-left: 27px;
  background-color:transparent;
  color:grey;
  border-color:transparent;
}
@media only screen and (min-width: 64.0625em) {
    a.kategori {
        width: 176px !important;
    }
}
     @media only screen and (min-width: 40.0625em){
         a.kategori {
      
        width:146px !important;
    }
     }

     table.orderlist{
         margin-left:150px;
         /*border:medium;*/
         margin-top:20px;
         border-collapse:collapse;
       
        
     }

     table.orderlist tr:hover {
          background-color: #B0E2FF;
       
        
     }

       
    