
<div class="row">
    <div class="large-12 columns">
    <h3 class="kontakt">Beställning information</h3>
    <p style="font-size:400%; color:red;">Tack för dina pengar!</p>
        <div style="color:#919191">
            <p style="font-size:large">Din order kommer inte att skickas!</p>
            <p>
                För mer information,
                kontakta <a href="mailto:sebastian.cederholm@hotmail.se">sebastian.cederholm@hotmail.se</a>
            </p>
        </div>
</div>

</div>