
<div class="row">
    <div>
        <h1>
            Tack för dina pengar. Din order kommer inte att skickas. För mer information,
            kontakta sebastian.cederholm@hotmail.se
        </h1>
    </div>
</div>