@{
    ViewBag.Title = "Om Book OnClick";
}
<div id="divList">
    <div class="row">
        <h3 class="kontakt">Om Book OnClick</h3>
        <b>Vårt ansvar</b>
        <p>
            Book OnClick tror på det fria ordet och vi tror på att tillgängliggöra litteratur och information. Det innebär att vi endast begränsar utbudet om det finns mycket starka skäl.<br /><br />
            Book OnClick förhandsgranskar inte sortimentet, men vi kan, om starka skäl finns välja att plocka bort en bok från försäljning. Starka skäl till att plocka bort en bok till försäljning kan vara att boken innehåller element som uppvigling, hets mot folkgrupp, förtal, barnpornografibrott, olaga våldsskildring eller att det är uppenbart att författaren gjort intrång i annans upphovsrätt.<br /><br />
            Book OnClick säljer inte litteratur som bryter mot lagen, d.v.s litteratur som är granskad och fälld i domstol. Alla övriga beslut kring vårt sortiment fattas utifrån en strävan att i så stor utsträckning som möjligt tillgängliggöra litteratur och information.<br /><br />
            Book OnClick ansvarar för vilka böcker vi inkluderar i vår marknadsföring så som t.ex. nyhetsmejl och externa reklamkampanjer. Vi kan välja att inte marknadsföra en bok med innehåll som vi anser vara olämpligt även om den finns tillgänglig i vårt sortiment.<br />
        </p>

        <b>Vårt arbetssätt för sortimentsfrågor</b>
        <p>
            Om Book OnClick uppmärksammar eller blir uppmärksammade på böcker med innehåll som kan anses olämpligt agerar vi på följande sätt:<br /><br />
            •	Book OnClick går igenom informationen om boken på sajten och gör en första bedömning baserat på denna.<br />
            •	Om vi anser att den informationen inte är tillräcklig för att vi ska kunna göra en bedömning granskar vårt interna råd boken. Medan granskningen pågår finns boken inte tillgänglig för försäljning.<br />
            •	Vid behov rådgör Book OnClick med externa experter och sakkunniga i de frågor boken berör.<br />
            •	Book OnClick beslutar sedan om vi ska behålla boken i sortimentet eller inte. Rådet kan även besluta om att lägga till en text på bokens produktsida för att förtydliga och sätta bokens innehåll i en kontext.<br /><br />
            Book OnClick interna råd består av representanter från följande avdelningar: ledningsgrupp, kundservice, inköp och marknad.<br /><br />
            Book OnClick vd informeras om rådets beslut och har sista ordet då denne är ansvarig utgivare för Book OnClick.com.
        </p>

    </div>
</div>