@{
    ViewBag.Title = "Kontakt";
}


<div class="row" >
    
        <h3 class="kontakt">Book OnClick kundservice</h3>
        <p>Vi jobbar hela tiden på att bli ännu bättre - hör gärna av dig till oss med idéer och synpunkter!</p>
        <p>Kundservice, tel: <a href="tel:08-441 40 50">08&nbsp;441&nbsp;40&nbsp;50</a></p>

        <p>
            Måndag-torsdag 08.00-20.00 <br />
            Fredag 08.00-16.00 <br />
        <p>

            Kundservice, mail: <a href="mailto:info@bookoncklick.com">info@bookoncklick.com</a><br />
            Vi svarar på mail inom 24 timmar (gäller helgfria vardagar).
        </p>
   
    <p>
        ADRESS:<br />
        <br />
        Book OnClick AB<br />
        Box 3667<br />
        103 59 Stockholm
    </p>
    <p>Organisationsnummer: 556261-3512</p>
    <p>
        VD Johannes Larsson<br />
        <br />
    </p>



</div>

