
@model MVC.ViewModel.StartPageViewModel

<div class="slider-background">
    <div class="slider row">

        @*<div class="reklam">*@
        <div class="center" style="padding: 0px, 0px, 0px, 0px;">
            <div><img src="~/Content/Images/offer1.jpg" /></div>
            <div><img src="~/Content/Images/offer2.jpg" /></div>
            <div><img src="~/Content/Images/offer1.jpg" /></div>
            <div><img src="~/Content/Images/offer2.jpg" /></div>
            <div><img src="~/Content/Images/offer1.jpg" /></div>
            <div><img src="~/Content/Images/offer2.jpg" /></div>
        </div>
        @*</div>*@
    </div>     
    </div>
    <div id="divList" class="row">
        @Html.Partial("_bookslist")

    </div>







